*{
    margin: 0;
    padding: 0;
}
body{
    background: url('background.jpg') ;
    background-size: 100%;
}
h1{
    margin-top: 5px;
    text-align: center;
    color: #b70f0f;
    font-weight: bold;
}
.clock_container{
    width: 40vw;
    height: 40vw;
    margin: auto;
    margin-top: 30px;
    background: url('clock.png') no-repeat;
    background-size: cover;
    position: relative;
    border: 15px solid rgb(58, 20, 27);
    border-radius: 70%;
}

.hhand, .mhand, .shand{
    background-color: black;
    border-radius: 10px;
    position: absolute;
    transform-origin: bottom;
}
.hhand{
    width: 1.1vw;
    height: 11vw;
    top: 22.5%;
    left: 48.55%;
    opacity: 0.9;
}
.mhand{
    width: 0.7vw;
    height: 12.8vw;
    border-radius: 13px;
    top: 18%;
    left: 49%;
    opacity: 0.8;
}
.shand{
    width: 0.4vw;
    height: 14vw;
    border-radius: 16px;
    top: 15%;
    left: 49.3%;
    opacity: 0.8;
    opacity: 0.8;
}